<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="{{keywords}}">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ROOT}}css/style.css" />
</head>
<body>
<h1>This is the DSSG example website</h1>
<ul>
<li><a href="{{ROOT}}index.html" title="Homepage">Homepage</a></li>
<li><a href="{{ROOT}}sample_directory/sample_page_1.html" title="Sample Page 1">Sample Page 1</a></li>
<li><a href="{{ROOT}}sample_directory/sample_page_2.html" title="Sample Page 2">Sample Page 2</a></li>
</ul>
<p>This page is based on template.mustache.</p>
{{{CONTENT}}}
</body>
</html>